---
layout: default
title: "Paolo Cozzi CV"
---

<div class="container-fluid p-0">
  <!-- About-->
  <section class="resume-section" id="about">
    <div class="resume-section-content">
      <h1 class="mb-0">
        {{ site.data.user.name }}
        <span class="text-primary">{{ site.data.user.surname }}</span>
      </h1>
      <div class="subheading mb-5">
        {{ site.data.user.address }} ·
        <a href="mailto:{{ site.data.user.email }}">{{ site.data.user.email }}</a>
      </div>
      <p class="lead mb-5">{{ site.data.user.about }}</p>
      <div class="social-icons">
        {% if site.data.user.linkedin %}
          <a class="social-icon" href="{{ site.data.user.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
        {% endif %}
        {% if site.data.user.github %}
          <a class="social-icon" href="{{ site.data.user.github }}"><i class="fab fa-github"></i></a>
        {% endif %}
        {% if site.data.user.twitter %}
          <a class="social-icon" href="{{ site.data.user.twitter }}"><i class="fab fa-twitter"></i></a>
        {% endif %}
        {% if site.data.user.facebook %}
          <a class="social-icon" href="{{ site.data.user.facebook }}"><i class="fab fa-facebook-f"></i></a>
        {% endif %}
        {% if site.data.user.youtube %}
          <a class="social-icon" href="{{ site.data.user.youtube }}"><i class="fab fa-youtube"></i></a>
        {% endif %}
        {% if site.data.user.researchgate %}
          <a class="social-icon" href="{{ site.data.user.researchgate }}"><i class="fab fa-researchgate"></i></a>
        {% endif %}
      </div>
    </div>
  </section>

  <hr class="m-0" />

  <!-- Experience-->

  <section class="resume-section" id="experience">
    {% include experience.html %}
  </section>

  <hr class="m-0" />

  <!-- Education-->

  <section class="resume-section" id="education">
    {% include education.html %}
  </section>

  <hr class="m-0" />

  <!-- Skills-->

  <section class="resume-section" id="skills">
    {% include skills.html %}
  </section>

  <hr class="m-0" />

  <!-- Interests-->

  <section class="resume-section" id="interests">
    <div class="resume-section-content">
      <h2 class="mb-5">Interests</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.
      </p>
      <p class="mb-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
        ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.
      </p>
    </div>
  </section>

  <hr class="m-0" />

  <!-- Publications -->

  <section class="resume-section" id="publications">
    {% include publications.html %}
  </section>

  <hr class="m-0" />

  <!-- Awards and certifications -->

  <section class="resume-section" id="certifications">
    {% include certifications.html %}
  </section>

</div>
