
<div class="resume-section-content">
  <h2 class="mb-5">Certifications</h2>
  <ul class="fa-ul mb-0">
    {% for item in site.data.certifications %}
      <li class="mb-1">
        <span class="fa-li"><i class="fas fa-graduation-cap"></i></span>
        {{ item.name }}, {{ item.period }}<br>
        {% if item.license_id %}
          {{ item.emitter }}, <a href="{{ item.license_url }}{{ item.license_id }}/">{{ item.license_id }}</a>
        {% elsif item.license_file %}
          {{ item.emitter }}, <a href="{{ item.license_file }}"> download certificate <span class="fas fa-download"></span></a>
        {% else %}
          {{ item.emitter }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
