@import "variables";
// the following will automatically import "bootstrap/scss/bootstrap";
@import "startbootstrap-resume/src/scss/styles.scss";

// customize some classes
.bg-primary {
  background-color: $red !important;
}

.text-primary {
  color: $red !important;
}

a {
  color: $red;
}

.social-icons .social-icon:hover {
    background-color: $red;
}
